* {
  font-family: Arial, Helvetica, sans-serif !important;
}

.App {
  text-align: center;
  background-image: url("/public/images/bg.png");
  height: 100%;
  width: 100%;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27%23EC5C28%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e") !important;
}

.navbar-toggler,
.navbar-toggler:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.button {
  font-size: larger;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  cursor: pointer;
}

.roulette-button {
  position: absolute;
  top: 25vh;
  left: 50%;
  z-index: +9;
  border: 5px #decc5b solid;
  border-radius: 5rem;
  width: 6rem;
  height: 6rem;
  transform: translate(-50%, 0%);
  background: white;
  color: #000;
  font-size: 0.8rem;
  font-weight: bold;
  color: #dd5a27;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 26px;
}

.roulette-button span {
  display: block;
  font-size: 8px;
  color: #383838;
  font-weight: 300;
}

.roulette-container {
  position: relative;
  width: 100%;
  max-width: 550px;
  aspect-ratio: 1;
  margin: 0 auto;
}

.roulette-container > div {
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
}

.main-form {
  max-width: 600px;
  margin: 0 auto;
}

.spinner-parent > .bhdLno {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 60px;
}

.banner {
  width: 60vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%) !important;
  top: 0 !important;
  margin-left: initial !important;
  margin-right: initial !important;
  height: 100%;
  background-image: url("/public/images/banner.png"); /* linear-gradient(#e85321b9, #e8542199); */
  background-size: cover; /* This property ensures the background image is contained within the div */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center;
  max-width: 350px;
}

.f-cl-orange {
  color: #dd5a27 !important;
}

.f-cl-grey {
  color: #595757 !important;
}

footer {
  background-color: #dd5a27;
  color: #fff;
}

footer p {
  font-size: 15px;
}

footer .bi {
  font-size: 25px;
}

footer input,
footer button {
  background: #dd5a27 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}

.img-spin {
  position: absolute !important;
  left: 0px;
  top: 0;
  transform: translate(0px, 100%);
  width: 65px;
}

.dotted-line {
  width: 50%;
}
